body{
  padding-left: 10px;
}
.commentBox{
  background-color: #F5F5F5;
  border: 2px solid #DCDCDC;
  width: calc(50vw);
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
  .heading{
    margin-bottom: 5px;
  }
  .child {
    padding-bottom: 5px;
    input{
      width: -webkit-fill-available;
      padding: 5px;
    }
    textarea{
      width: -webkit-fill-available;
      padding: 5px;
    }
  }
  .right{
    display: flex;
    justify-content: end;
    .primaryButton{
      background: #002664;
    border-radius: 5px;
    padding: 5px 10px;
    width: 50px;
    text-align: center;
    color: white;
    cursor: pointer;
    }
  }
}

.commentHolder{
  background-color: #F5F5F5;
  border: 2px solid #DCDCDC;
  width: calc(50vw);
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
  img{
    position: absolute;
    margin-left: calc(50vw);
    margin-top: 21px;
    cursor: pointer;
  }
  .header{
    display: flex;
    justify-content: space-between;
  }
  .name{
    font-weight: 700;
  }
  .buttonHolder{
    display: flex;
    div{
      margin-right: 10px;
      color: #002664;
      cursor: pointer;
    }
  }
}
.sortMessage{
  width: calc(52vw);
  display: flex;
  justify-content: flex-end;
  img{
    height: 15px;
    width: 12px;
    margin: 5px 3px;
  }
}
.editBoxHolder{
  padding: 20px;
  div{
    margin-bottom: 20px;
  }
}
.replyCommentHolder{
  width: 52vw;
    margin-left: calc(10vw);
  .commentHolder{
    width: calc(40vw);
  }
  img{
    margin-left: calc(40vw) !important;
    cursor: pointer;
  }
}
.modalBox{
  margin: auto;
  width: 500px;
  height: 300px;
  background-color: white;
  .buttonHolder{
    display: flex;
    div{
      margin-right: 10px;
      color: #002664	;
      cursor: pointer;
    }
    .buttonBox{
      background-color: #002664	;
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }
  .header{
    font-size: 18px;
    font-weight: 500;
    padding: 10px 10px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
  }
}
